body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F5FC;;
}

.encrypt_container{

    height: 100vh;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    position: relative;

    
    

    color: #0A3871;
}

.encriptador_wrapper{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px;

    

    border: 2px solid gray;
    border-radius: 10px;

    
}

#text_not_found{
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    position: absolute;
    top: 10px;
    left: 25%;

    border: 2px solid gray;
    border-radius: 10px;
}

#text_not_found img{
    margin: 0 auto;

    width: 350px;
}

#accept_button{
    height: 40px;
    width: 50%;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    background: #0A3871;
}
.text_not_found_p_h2 h2, p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
}
.encrypt_text{
    margin-top: 10px;
}




.buttons_wrapper{
    display: flex;
    justify-content: space-between;

    
    height: 67px;
    padding: 24px;

    gap: 8px;
    
    
}

#encrypt_text_button{
    background: #0A3871;
}

#decrypt_text_button{
    background: #D8DFE8;
    color: #0A3871;
}

.button{
    width: 328px;
    height: 57px;
    border-radius: 24px;
    border: none;

    color: white;

    font-size: 16px;
   

}